* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    background-color: #36404A;
}

table {
    text-align: center
}

td {
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    width: 18px;
    height: 18px;
}

th {
    color: rgb(0, 255, 76);
    padding: 2px;
    font-size: 20px;
}

.container {
    margin: 50px 0px 0px 100px;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
}

.EnterIntoInput {
    display: flex;
    width: 650px;
    align-items: center;
    font-size: 25px;
    background-color: #2B2B2B;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    transition: all .3s;
}

.EnterIntoInput:hover {
    box-shadow: 8px 8px 10px rgb(0, 0, 0);
}

.vertexInput {
    margin-left: 10px;
    font-size: 25px;
    background-color: #36404A;
    border: none;
    border-radius: 5px;
    outline: none;
    text-align: center;
    color: #fff;
    border: 2px solid #fff;
}

button:active, button:focus {
    outline: none;
}

.btnCreateVertex {
    margin-left: 30px;
    padding: 5px 15px;
    font-size: 20px;
    color: #07d846;
    border-radius: 3px;
    border: 2px solid #07d846;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
}

.btnCreateVertex:hover {
    color: #fff;
    background-color: #07d846;
    box-shadow: 0px 0px 20px #07d846;
}

.dataEntry {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    margin: 30px 0px 0px 100px;
}

.dataEntry .first {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 25px;
    background-color: #2B2B2B;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    transition: all .3s;
}

.dataEntry .first:hover {
    box-shadow: 8px 8px 10px rgb(0, 0, 0);
}

.dataEntry .inputOfNumbers {
    margin-left: 10px;
    font-size: 25px;
    background-color: #36404A;
    border: none;
    border-radius: 2px;
    outline: none;
    color: #fff;
    border: 2px solid #fff;
    padding-left: 5px;
}


.btnDeleteVertex {
    margin-left: 30px;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    color: #FF4D4D;
    border-radius: 3px;
    border: 2px solid #FF4D4D;
    background-color: transparent;
    cursor: pointer;
    transition: all .3s;
}

.btnDeleteVertex:hover {
    color: #fff;
    background-color: #FF4D4D;
    box-shadow: 0px 0px 20px #FF4D4D;
}

.outMatrixs {
    margin-left: 100px;
    margin-top: 20px;
    display: none;
    padding: 5px 15px;
    font-size: 20px;
    color: #07d846;
    border-radius: 3px;
    border: 2px solid #07d846;
    background-color: transparent;
    cursor: pointer;
    transition: all .3s;
}

.outMatrixs:hover {
    color: #fff;
    background-color: #07d846;
    box-shadow: 0px 0px 20px #07d846;
}

.nameOfMatrixA {
    display: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.nameOfMatrixC {
    display: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.outText {
    display: none;
    border: 3px solid;
    padding: 10px 20px;
    background-color: rgba(7, 216, 70, 0.2);
    font-size: 20px;
    color: #07d846;
    margin: 20px 0px 40px 0px;
}

.forLine {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    margin: 50px 0px 10px 100px;
}

.line {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 22px;
    font-weight: bold;
    background-color: #2B2B2B;
    color: #000;
    margin-bottom: 10px;
}

.level {
    padding: 10px 20px;
    background-color: #FF4D4D;
}

.outNewVertex {
    padding: 10px 20px;
    margin-left: 100px;
    width: 150px;
    background-color: #07d846;
}

.decomposition {
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2B2B2B;
}

.decomposition .r, .q, .g {
    display: flex;
    font-size: 25px;
    color: #fff;
}

.decomposition .r .values, .q .values, .g .values{
    margin-left: 10px;
}

.expample {
    margin-left: 20px;
    padding: 5px 15px;
    font-size: 20px;
    color: #4d84ff;
    border-radius: 3px;
    border: 2px solid #4d84ff;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
}

.expample:hover {
    background-color: #4d84ff;
    color: #fff;
}

.wrapper {
    display: flex;
    align-items: flex-start; 
    align-items: center;
    margin: 50px 0px 0px 100px;
}

@media screen and (min-width: 320px) and (max-width: 414px) {
    .EnterIntoInput {
        display: flex;
        width: 100%;
        align-items: center;
        margin: 0;
        font-size: 20px;
        padding: 0;
        border-radius: 0;
    }    
    .btnCreateVertex {
        margin-left: 0;
        margin-right: 10px;
        padding: 2px 5px;
        font-size: 15px;
        color: #fff;
        background-color: #07d846;
        box-shadow: 0px 0px 20px #07d846;
    }
    .vertexInput {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 20px;
        text-align: center;
        border: 2px solid #fff;
    }
    label {
        margin-left: 10px;
    }
    .dataEntry {
        display: flex;
        align-items: stretch;
        margin: 20px 0 0 0;
    }
    .dataEntry .first {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        font-size: 20px;
        padding: 3px 5px;
        border-radius: 0;
    }
    .dataEntry .inputOfNumbers {
        margin-left: 10px;
        font-size: 20px;
        background-color: #36404A;
        border: none;
        border-radius: 2px;
        outline: none;
        color: #fff;
        border: 2px solid #fff;
        padding-left: 5px;
        width: 100px;
    }
    .outMatrixs {
        margin-left: 0;
        margin-top: 20px;
        width: 100%;
        padding: 5px 15px;
        font-size: 20px;
        border-radius: 0;
        color: #fff;
        background-color: #07d846;
        box-shadow: 0px 0px 20px #07d846;
    }
    .container {
        position: relative;
        margin: 50px 0 0 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .forLine {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 50px 0px 0px 100px;
    }
    .nameOfMatrixB {
        margin-left: 0;
    }
    
    .lastTable {
        margin-top: 20px;
    }
    .btnDeleteVertex {
        color: #fff;
        background-color: #FF4D4D;
        box-shadow: 0px 0px 20px #FF4D4D;
    }
}